/* .footerContainer{
    display: flex;
    justify-content: space-around;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.FOODI{
    font-size: 1rem;
}

span{
    background: #39db4a;
    color: #fff;
    padding: .1rem .2rem;
} */